body {
    background-color: black;
    background-image: url(./hutao.png);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 800px;
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.div-container {
    background-color: #9775fa;
    color: #f3f0ff;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    height: 40vh
    display: flex;
    padding: 16px;
}

h1 {
    margin-bottom:  16px;
    font-size: 2em;
}

.input,
.button {
    width: 90%;
    margin: 10px
}
button {
    padding: 8px;
    border-radius: 10px;
    background-color: #e5dbff;
    font-size: 1.3em;
    font-weight: 500;
}
button:hover{
    background-color: #748ffc;
}
button:focus{
    background-color: #f3f0ff;
}

.result {
    background-color: #e5dbff;
    line-height: 1.5;
    font-size: 1.5rem;
    font-weight: 500;
    color: #5f3dc4;
    padding: 8px;
}

.input {
    padding: 8px;
    background-color: #e5dbff;
